<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>images.jpg</string>
	<string>ss-0-320-480-160-1-a7e34b6d6ca8332b300362f67344c8d43a2cace3.jpeg</string>
	<string>157089.jpg</string>
</array>
</plist>
